#-----------------------------------------------------------------------
# TITLE:
#   %pkgfile.tcl
#
# AUTHOR:
#   Will Duquette
#
# DESCRIPTION:
#   %project: %package(n) Package, %pkgfile module.
#
#   FIXME: Description of this module
#
#-----------------------------------------------------------------------

namespace eval ::%package:: {
    namespace export \
        hello

    namespace ensemble create
}

#-----------------------------------------------------------------------
# Commands

# hello
#
# Dummy example proc.

proc ::%package::hello {args} {
    puts "%package(n): Hello, world!"
    return
}
