#-----------------------------------------------------------------------
# TITLE:
#   %module.tcl
#
# PROJECT:
#   %project
#
# AUTHOR:
#   TBD
#
# DESCRIPTION:
#   %package(n) Package, %module module.
#
#   FIXME: Description of this module
#
#-----------------------------------------------------------------------

namespace eval ::%package:: {
    namespace export \
        hello

    namespace ensemble create
}

#-----------------------------------------------------------------------
# Commands

# hello
#
# Dummy example proc.

proc ::%package::hello {args} {
    puts "%package(n): Hello, world!"
    return
}
